.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--text-light-color);
  height: 100svh;
  width: var(--sidebar-width);
  transition: 0.2s;
  svg {
    color: var(--text-light-color);
  }
  ul {
    padding: 0;
  }
  &__logo {
    height: var(--header-height);
    display: grid;
    place-content: center;
  }
  &__level2 a {
    padding-left: 52px !important;
  }
  &__open {
    span,
    svg[data-testid='ExpandLessIcon'],
    svg[data-testid='ExpandMoreIcon'] {
      visibility: visible;
    }
  }
  &__close {
    span,
    svg[data-testid='ExpandLessIcon'],
    svg[data-testid='ExpandMoreIcon'] {
      visibility: hidden;
    }
  }
}
