.navbar {
  background-color: var(--secondary-color);
  color: #fff;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing);
  &__menu {
    cursor: pointer;
    transition: 1s;
    &:hover {
        transform: scale(1.5);
      }
  }
  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      font-size: 50px;
      margin-right: var(--spacing);
    }
  }
}
